@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --color-sky-50: #fdfce9;
  --color-sky-100: #fcfac5;
  --color-sky-200: #faf08e;
  --color-sky-300: #f7e14d;
  --color-sky-400: #f3ce1c;
  --color-sky-500: #e3b50f;
  --color-sky-600: #c48d0a;
  --color-sky-700: #9c650c;
  --color-sky-800: #815012;
  --color-sky-900: #6e4115;
  --color-sky-950: #402208;
}

/* Permet d'afficher les chips d'un multi-select sur deux s'il n'y a pas la place d'afficher tout sur une ligne */
.multiselect-multiline .p-multiselect-label-container,
.multiselect-multiline .p-multiselect-label {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 0.25rem;
  align-items: flex-start !important;
  white-space: normal !important;
}

/* Chaque chip */
.multiselect-multiline .p-multiselect-token {
  white-space: normal !important;
  display: inline-flex !important;
  margin-right: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* Optionnel : limite verticale + scroll */
.multiselect-multiline .p-multiselect-label {
  max-height: 150px;
  overflow-y: auto;
}
